<h1>¿<%= @pregunta %>?</h1>

<%= link_to "SI", :controller => "genio", :action => :respuesta, :respuesta => "si" %>
<%= link_to "NO", :controller => "genio", :action => :respuesta, :respuesta => "no" %>